.imgContainer {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(77, 75, 76, 0.8);
}
.img {
  border: 5px solid white;
  border-radius: 10px;
}

.img:active {
  transform: translateX(5px) translateY(5px);
}
