@import "/styles/utils/variables";

.main {
  display: flex;
  flex-direction: row;
  color: $fontColor;
  padding-bottom: 1em;
  font-family: $mainFont;

  .headerContainer {
    margin: 0 1.5em;

    .header {
      font-size: 2em;
      margin: 0.2em 0 0 0;
    }
    .title {
      font-size: 1em;
    }
  }
}
